.contactDetailsWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.imgWrapper {
  height: 300px;
  width: 300px;
  cursor: pointer;
  animation: 1s moveInRight ease-out;

}

.detailsWrapper {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  animation: 1s moveInLeft ease-out;
}

@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }

  80% {
      transform: translateX(10px);
  }

  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }
  
  80% {
      transform: translateX(-10px);
  }

  100% {
      opacity: 1;
      transform: translateX(0);
  }
}